body   {
    padding: 0;
    min-width: 320px;
    margin: 0;
    font: 14px "Raleway",Arial,sans-serif;
    position: relative;
}
.mobile-banner  {
    position: fixed;
    z-index: 99;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    min-width: 320px;
}
.mobile-banner a img {
    width: 100%;
}
header  {
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 8%);
    position: fixed;
    z-index: 99;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #fff;
}
main {
    position: relative;
    left: 0;
    top: 7rem;
    z-index: 0;
}
.header-horizontal-line    {
    border-bottom: 1px solid rgba(208,208,208,0.5);
}
.header-line-content    {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 2rem;

}
.trending-line  {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
    
}
.search {
    display: none;
}
.trending-menu  {
    overflow-x: auto;
}
.trending-menu::-webkit-scrollbar {
    display: none;
}
.trending-line ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
        
}
.trending-line ul li  {
    padding: 0.5rem;
    white-space: nowrap;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}
.banner {
    font-size: 1.5rem;
    font-weight: 800;
    color: rebeccapurple;
}
.menu-bar   {
    color: rebeccapurple;
    font-size: 1.1rem;

}
main article section h1{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}
.article-details   {
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}
.article-details .author,
.article-details .stack {
    color: rebeccapurple;
}
.article-details .date {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 100;
}
.share-article  {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 2.5rem 0;
}
.share-article  p {
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.fa-search  {
    color: rgba(0,0,0 0.7);
}
.share-article .share-to-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    align-items: center;
}
.share-to-socials   {
    font-size: 1.5rem;
}
.share-to-socials  i {
    background-color: #f5f2f2d6;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
}

.question-statment p   {
    padding: 0 0.5rem;
    color: rgba(0, 0, 0, 0.7);
}
.questions-list,
.question-choices-list {
    list-style-type: none;
    padding-inline-start: 0;
}
.question-choices-list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.question-choices-item  {
    background: #dfd9d9d6;
    margin: 0.2rem;
    border-radius: 4px;
}
.question-choices-list .question-choices-item div {
    padding: 0.3rem;
    width: 150px;
    height: 165px;
    text-align: center;
}
.question-choices-list .question-choices-item div img {
    width: 140px;
}
.question-choices-list .question-choices-item .color    {
    padding: 0.3rem;
    width: 150px;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-choices-list .question-choices-item div .orange {
    background-color: orange;
    width: 131px;
    height: 131px;
}
.question-choices-list .question-choices-item div .purple {
    background-color: purple;
    width: 131px;
    height: 131px;
}
.question-choices-list .question-choices-item div .red    {
    background-color: red;
    width: 131px;
    height: 131px;
}
.question-choices-list .question-choices-item div .blue   {
    background-color: blue;
    width: 131px;
    height: 131px;
}
.question-choices-list .question-choices-item div .yellow {
    background-color: yellow;
    width: 131px;
    height: 131px;
}
.input-label-container .question-choices-item .input-label  {
   width: auto;
   height: auto;
    text-align: left;
}
.input-label-container  {
    display: flex;
    flex-direction: column;
}